.search {
  font-size: 16px;
  outline: ridge;
  color: #3A3D3C;
  font-color: white;
  padding: -5px 0px;
  background-color: white;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}